[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[merge]
	conflictstyle = diff3
[user]
	name = t2sy
	email = japan.t.egawa@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
[alias]
	co = checkout
	cm = commit
	st = status
